{% extends "base_generic.html" %}

{% block intro %}
    {% if validlink %}
        <p id="pw_label1">Reset Password</p>
        <form action="" method="post">
        {% csrf_token %}
        <div id="pw_input1">
            <label for="id_new_password1" id="pw_label2">New Password</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div> 
        <div id="pw_input2">
            <label for="id_new_password2" id="pw_label2">Confirm Password</label>
            {{ form.new_password2 }}
        </div>
        {% if form.errors %}
            <div id="form_validation">
                <p>The passwords have to match and follow the password rules.</p>
            </div>
        {% endif %}
        <input id = 'email_submit' type="submit" value="Reset" />
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}