{% extends "base_generic.html" %}
{% load static %}
{% block intro %}
<a href="{% url 'login' %}"><img id="pw_back_arrow" src={% static 'images/back_arrow.png'%} alt="Login Illustration"></a>
<p id="pw_label1">Forgot Password?</p>
<p id="pw_instruction">Enter the email address and password you used when you joined. We’ll send you an instruction for reseting the password. </p>
<form action="" method="post">
  {% csrf_token %}

  <div id = 'email_label'>
    <p id="pw_label2"> Email Address </p>
  </div>
  <div id='email'>
    {{ form.email }}
  </div>    
  {% if form.email.errors %}
    <div id="form_validation">
        <p>This email is not registered</p>
    </div>
  {% endif %}
  
  <input id = 'email_submit' type="submit" class="btn btn-default btn-lg" value="Send">

</form>
  
{% endblock %}